[submodule "external/liblo"]
	path = external/liblo
	url = https://github.com/radarsat1/liblo.git
[submodule "external/cppitertools"]
	path = external/cppitertools
	url = https://github.com/ryanhaining/cppitertools.git
[submodule "external/pybind11"]
	path = external/pybind11
	url = https://github.com/pybind/pybind11.git
